@import './../icons/iconfont.css';

body,
page {
  font-size: 14px;
  color: rgba(75, 85, 99);
  font-family: 'Monospaced Number', 'Chinese Quote', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  min-height: 100%;
}

scroll-view,
.no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}

@import './reset-uni.scss';
@import './theme.scss';
